/*
tabs:
    main: Попап
    nav: Навигация
    close: Крестик
vars:
    overlay_background:
        type: css-background
        label: Подложка
        default:
            - dark
            - color, main 0 0.6
        tab: main
    popup_background:
        type:  css-background
        default:
            - light
            - color, main 5 1
        tab: main
    padding:
        type: measures
        prop: padding
        tab: main
    border:
        type: measures
        prop: borders
        tab: main
    shadow:
        type: css-shadow
        tab: main
    min_width:
        label: Мин. ширина
        type: number
        step: 1
        min: 10
        max: 100
        tab: main
    min_height:
        label: Мин. высота
        type: number
        step: 1
        min: 10
        max: 100
        tab: main
    back_icon:
        type: iconpicker
        label: '&larr;'
        store_code: true
        tab: nav
    next_icon:
        type: iconpicker
        label: '&rarr;'
        store_code: true
        tab: nav
    nav_size:
        type: number
        min: 20
        max: 90
        label: Размер
        tab: nav
    nav_color:
        type: palette
        transparent: true
        tab: nav
    nav_bg:
        type: css-background
        tab: nav
        default:
            - dark
            - color, main 0 0.6
    nav_hover_bg:
        type: css-background
        label: Фон при наведении
        tab: nav
        default:
            - dark
            - color, main 0 0.6
    nav_padding:
        type: measures
        prop: padding
        step: 0.1
        tab: nav
    nav_border:
        type: measures
        prop: borders
        tab: nav
    close_icon:
        type: iconpicker
        label: '&times;'
        store_code: true
        tab: close
    close_size:
        type: number
        min: 20
        max: 90
        label: 'Размер &times;'
        tab: close
container:
    lightness: popup_background
export:
    icon_left: '@arrows_left_icon'
    icon_right: '@arrows_right_icon'
    icon_left_inc: '@arrows_left_icon !== "none" && fx::icon( @arrows_left_icon )'
    icon_right_inc: '@arrows_right_icon !== "none" && fx::icon( @arrows_right_icon )'
    icon_close_inc: '@close_icon !== "none" && fx::icon( @close_icon )'
*/
.popup_style_default (
    @overlay_background:@overlay_background;
    @popup_background:@popup_background;
    @padding: 2rem 2rem 2rem 2rem;
    @border: none;
    @shadow: none;
    @min_width: 40vw;
    @min_height: 10vh;
    @back_icon: none;
    @next_icon: none;
    @nav_size: 30px;
    @nav_bg: @nav_bg;
    @nav_padding: 1rem;
    @nav_border: none;
    @nav_hover_bg: @nav_hover_bg;
    @nav_color: main 0;
    @close_icon: fa times f00d;
    @close_size: 30px;
)
{
    position:fixed;
    top:0;
    left:0;
    z-index:2000;
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;

    @max_height: 95vh;
    @max_width: 92vw;
    @panel_height: 60px;
    
    #_hidden {
        display:none;
    }
    
    #__content { 
        position:relative;
        z-index:2;
        display: flex;
        flex-direction:column;
        /*
        min-width: @min_width;
        min-height: @min_height;
        & when (@min_width < @max_width) {
          max-width: @max_width;
        }
        & when (@min_width >= @max_width) {
          max-width: @min_width;
        }
        & when (@min_height < @max_height) {
          max-height: @max_height;
        }
        & when (@min_height >= @max_height) {
          max-height: @min_height;
        }
        */
        width: 90vw;
        height: 90vh;
    }

    #__content-area {
      .background(@popup_background);
      padding: @padding;
      .box-shadow(@shadow);
      .border(@border);
      overflow:auto;
      height:100%;
    }
    
    #__overlay {
        position:absolute;
        width:100%;
        height:100%;
        top:0;
        left:0;
        //background:rgba(30,30,30,0.4);
        .background(@overlay_background);
        cursor:pointer;
    }
    body.fx_infoblock & {
        height: ~"calc(100% - " @panel_height ~")";
        top: @panel_height;
        #__content {
            max-height: ~"calc(" @max_height ~" - " @panel_height ~")";
        }
    }
    & when not(@back_icon = none) and not(@next_icon = none) {
        @arrow_size: 2rem;
        #__nav {
            z-index: 3;
            position: fixed;
            top: 50%;
            left: 0;
            width: 100%;
            height: 0px;
        }
        #__nav-link {
            cursor: pointer;
            position: absolute;
            font-size: 0;
            &:before {
              .font_size(@nav_size);
              width: 1em;
              height: 1em;
            }
            top: ~"calc(" @arrow_size ~"/ 2 * - 1)";
            #_dir_back {
              .fx_icon(@back_icon);
              left:1rem;
              //.font_size(@nav_size / 2, left);
            }
            #_dir_next {
              .fx_icon(@next_icon);
              right:1rem;
              //.font_size(@nav_size / 2, right);
            }
            .border(@nav_border);
            .background(@nav_bg);
            .tcolor-on-bg(@nav_color, @nav_bg);
            padding: @nav_padding;
            &:hover {
              .background(@nav_hover_bg);
              .tcolor-on-bg(@nav_color, @nav_hover_bg);
            }
        }
    }

    #__close {
        .fx_icon(@close_icon);
        &:before {
          .font_size(@close_size);
          width:1em;
          height:1em;
          display:inline-block;
        }
        position:absolute;
        top:0;
        right:0;
        transform: translate(-20%, 20%);
        z-index: 3;
        cursor: pointer;
    }
}