.floxim-ui-box-builder {
    display:inline-flex;
    position:relative;
    &__value {
        /*
        width: 600px !important;
        font-size: 10px !important;
        position: absolute;
        margin-top: -50px !important;
        */
    }
    &__group {
        padding:5px;
        border:1px dotted #CCC;
        display:flex;
        margin-top:-1px;
        transition:padding 0.1s ease;
        overflow:hidden;
        &_empty {
            padding:0;
            border-bottom:none;
            &:first-child:last-child {
                min-width:70px;
                min-height:20px;
                border-bottom:1px dotted #CCC;
            }
        }
        &_empty-active {
            padding:5px;
            border-bottom:1px dotted #CCC;
        }
    }
    &__field {
        background:#FFF;
        white-space: nowrap;
        box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
        font-size: 12px;
        padding: 3px 5px;
        border: 1px solid #CCC;
        border-radius: 2px;
        margin-right: 5px;
        cursor:pointer;
        &.ui-sortable-placeholder {
            max-width: 30px !important;
            border:1px dotted #666;
            visibility: visible !important;
        }
        &.ui-sortable-helper {
            opacity:0.8;
            z-index:1000002;
        }
        
    }
    
    &__field-kill {
        color:#D44;
        width: 13px;
        display: inline-block;
        text-align: center;
        
        &:hover {
            color:#F00;
        }
        &:after {
            content:"\00d7";
        }
    }
    
    &__avail {
        position:fixed;
        max-width:200px;
        border:1px solid #EEE;
        z-index:10000;
        display:block;
        max-height: 0;
        overflow:hidden;
        opacity:0;
        margin-left:2px;
        transition:all 0.3s ease;
        &_active {
            opacity:1;
            max-height:300px;
        }
    }
    
    &__avail &__field {
        display:block;
        margin:0;
        box-shadow:none;
        border:none;
        border-bottom:1px solid #EEE;
        border-radius:0;
        &:last-child {
            border-bottom: none;
        }
    }
    
    &__avail &__field-kill, &__avail &__field-settings  {
        display:none;
    }
    
    &__adder {
        position: absolute;
        right: -8px;
        width: 15px;
        top: -8px;
        height: 15px;
        border: 1px solid #CCC;
        text-align: center;
        line-height: 15px;
        border-radius: 15px;
        background: #FFF;
        cursor:pointer;
        z-index:10001;
        transform:rotate(0deg);
        transition: all 0.3s ease;
        &_active {
            transform:rotate(44deg);
        }
    }
}