.@{namespace}value{
    p, ul, li {
        &:first-child {
            margin-top:0;
        }
        &:last-child {
            margin-bottom:0;
        }
    }
}

.@{namespace}box {
    display:flex;
    flex-direction: column;
    position: relative;
    #__group.floxim--ui--grid--grid:last-child:first-child {
        flex-grow:1;
    }
    #__group{
      flex-wrap: wrap;
    }
}