/*
vars:
    ratio:
        type: ratio
        label: Пропорции
        auto: true
        tab: image
        force_redraw: true
    image_fit:
        type: livesearch
        label: Обрезать?
        force_redraw: true
        values:
            crop: Обрезать
            contain: Уместить
            original: Оригинальный размер
        parentoooo: ratio != none
        tab: image
    max_height:
        type: livesearch
        label: Макс. высота
        allow_empty: false
        tab: image
        values:
            none: Нет
            custom:
                custom: true
                value: 100
                units: vh
                type: number
                step: 1
    width:
        type: livesearch
        label: Ширина
        allow_empty: false
        tab: image
        values:
            full: На всю ширину
            fullscreen: Ширина экрана
            layout: Ширина лейаута
            custom:
                custom: true
                value: 100
                units: %
                type: number
                step: 5
    grow:
        label: Растянуть ↕
        type: checkbox
        tab: image
        parent: width == full
    align:
        type: css-align
        tab: image
        parent: width != full || image_fit == original
    valign:
        type: livesearch
        label: По вертикали
        values:
            top: Сверху
            middle: По центру
            bottom: Снизу
        tab: image
    image_border:
        type: measures
        prop: borders
        tab: image
    image_shadow:
        type: css-shadow
        tab: image
    box_margin:
        type: measures
        prop: margin
        label: Внешний отступ
        tab: box
    box_padding:
        type: measures
        prop: padding
        label: Внутренний отступ
        tab: box
    box_background:
        type: css-background
        default:
            - dark
            - color, main 0 0.6
        tab: box
    box_align:
        type: css-align
        tab: box
    box_valign:
        type: livesearch
        label: Выравнивание строк по вертикали
        values:
            top: Сверху
            middle: По центру
            bottom: Снизу
            space-between: Растянуть
        tab: box
    box_border:
        type: measures
        prop: borders
        tab: box
    box_shadow:
        type: css-shadow
        tab: box
tabs:
    image: Картинка
    box: Данные
container:
    lightness: box_background
    align: box_align
export:
    ratio: '@ratio'
    image_fit: '@image_fit'
*/

.image-group_style_default(
  @ratio: 1.5;
  @image_fit: crop;
  @max_height: none;
  @width:full;
  @grow: 0;
  @align: center;
  @valign: center;
  @image_border:none;
  @image_shadow:none;
  @box_margin:0rem 0rem 0rem 0rem;
  @box_padding:1rem 1rem 1rem 1rem;
  @box_background: @background;
  @box_align: center;
  @box_valign: middle;
  @box_border: none;
  @box_shadow: none;
) {
  & when not(@width = full) {
    & when (isnumber(@width)) {
      html & {
        width: unit(@width, %);
      }
    }
    & when (@width = fullscreen) {
      .width(full);
      html & {
        width: auto;
      }
    }
    & when (@align = left) {
      align-self:flex-start;
    }
    & when (@align = center) {
      align-self:center;
    }
    & when (@align = right) {
      align-self:flex-end;
    }
  }

  & when (@grow = 1) {
    flex-grow:1;
  }

  .border(@image_border);
  .box-shadow(@image_shadow);

  & when (@image_fit = crop) {
    background-size:cover;
  }
  & when (@image_fit = contain) {;
    background-size: contain;
  }

  & when (@image_fit = original) {
    html & {
      display: block;
      ratio: @ratio;
    }
    & when not(@ratio = none) {
      &:before {
        display: inline-block;
        content: '';
      }
      &:before, #__image {
        vertical-align: @valign;
      }
    }
    & when not(@align = none) {
      text-align: @align;
    }
    & when (@align = none) {
      .text-align();
    }
  }


  & when not(@ratio = none) {
    &:before {
      padding-bottom:100% / @ratio;
    }
  }

  #__content {
    &:before {
      .background(@box_background);
    }
    padding:@box_padding;
    margin:@box_margin;
  }


  #__image {
    .border-radius(@image_border);
  }

  /*
  & when not(@ratio = none) and (@image_fit = original) {
    &:before, #__image {
      & when (@box_valign = top) {
        vertical-align: top;
      }
      & when (@box_valign = middle) {
        vertical-align: middle;
      }
      & when (@box_valign = bottom) {
        vertical-align: bottom;
      }
    }
    & when (@box_valign = space-between) {
      #__content {
        justify-content: space-between;
      }
    }
  }
  */
  /* & when (@ratio = none) { */
    #__content {
      & when (@box_valign = top) {
        justify-content: flex-start;
      }
      & when (@box_valign = middle) {
        justify-content: center;
      }
      & when (@box_valign = bottom) {
        justify-content: flex-end;
      }
      & when (@box_valign = space-between) {
        justify-content: space-between;
      }
    }
    /*
    #__content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      & when (@box_valign = top) {
        justify-content: flex-start;
      }
      & when (@box_valign = middle) {
        justify-content: center;
      }
      & when (@box_valign = bottom) {
        justify-content: flex-end;
      }
      & when (@box_valign = space-between) {
        justify-content: space-between;
      }
    }
    */
  /* } */
}