/*
name: Список
vars:
    pic_width: 
        label: Ширина картинки
        type: number
        min: 10
        max: 90
    pic_ratio:
        type: ratio
        auto: true
        min: 0.4
        max: 4
    pic_grow:
        type: checkbox
        label: Растянуть до высоты текста
        parent: pic_ratio != none
    pic_position:
        label: Позиция картинки
        type: select
        values:
            left: Слева
            right: Справа
            left-right: Слева-справа
            right-left: Справа-слева
    pic_margin:
        label: Отступ картинки
        type: number
        max: 20
    item_margin:
        label: Отступ между элементами
        type: number
        max: 20
export:
    pic_width: 'ceil(1300 * @pic_width / 10000) * 100'
*/
.list_style_default(
    @pic_width:30%;
    @pic_margin:2em;
    @pic_grow:0;
    @item_margin: 2em;
    @pic_position:left;
    @pic_ratio: 1.5;
)
{
    #__item:not(:last-child) {
        margin-bottom:@item_margin;
    }
    #__data {
        flex-grow:1;
        flex-basis: ~"calc(" 100% - @pic_width ~" - " @pic_margin ~")";
    }
    #__listbox {
        min-height:100%;
    }
    #__image {
        flex-basis:@pic_width;
        
        & when (@pic_position = left) {
            margin-right:@pic_margin;
        }
        
        & when (@pic_position = right) {
            order:2;
            margin-left:@pic_margin;
        }
    }
    
    & when not(@pic_ratio = none) {
        #__image-wrapper {
            padding-bottom: 100% / @pic_ratio;
        }
        #__image-img {
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            object-fit:cover;
        }
        
        & when (@pic_grow = 1) {
            #__image-wrapper {
                min-height:100%;
                display:flex;
            }
            #__image-img {
                object-fit:cover;
            }
        }
    }
    
    & when (@pic_ratio = none) {
        #__image-wrapper {
            padding:0;
            min-height:auto;
        }
        #__image-img {
            position:static;
        }
    }
    
    
    
    & when (@pic_grow = 0) {
        
    }
    
    & when (@pic_position = left-right) {
        #__item:nth-child(2n-1) #__image {
            margin-right: @pic_margin;
        }
        #__item:nth-child(2n) #__image {
            order:2;
            margin-left:@pic_margin;
        }
    }

    & when (@pic_position = right-left) {
        #__item:nth-child(2n-1) #__image {
            order:2;
            margin-left:@pic_margin;
        }
        #__item:nth-child(2n) #__image {
            margin-right:@pic_margin;
        }
    }
}