.@{namespace}list {
    align-self:stretch;
    &__item {
        display:flex;
        flex-direction: row;
    }
    &__image {
        line-height:0;
        flex-shrink:0;
    }
    &__image-wrapper {
        position:relative;
    }
    &__image-img {
        width:100%;
    }   
}