/*
name: Список
vars:
    pic_width: 
        label: Ширина картинки
        type: number
        min: 10
        max: 90
    pic_position:
        label: Позиция картинки
        type: select
        values:
            left: Слева
            right: Справа
            left-right: Слева-справа
            right-left: Справа-слева
    pic_margin:
        label: Отступ картинки
        type: number
        max: 20
    item_margin:
        label: Отступ между элементами
        type: number
        max: 20
*/
.list_style_default(
    @pic_width:30%;
    @pic_margin:2em;
    @item_margin: 2em;
    @pic_position:left;
)
{
    #__item:not(:last-child) {
        margin-bottom:@item_margin;
    }
    #__data {
        flex-grow:1;
        flex-basis: 100% - @pic_width;
    }
    #__listbox {
        min-height:100%;
    }
    #__image {
        flex-basis:@pic_width;
        
        & when (@pic_position = left) {
            margin-right:@pic_margin;
        }
        
        & when (@pic_position = right) {
            order:2;
            margin-left:@pic_margin;
        }
    }
    
    & when (@pic_position = left-right) {
        #__item:nth-child(2n-1) #__image {
            margin-right: @pic_margin;
        }
        #__item:nth-child(2n) #__image {
            order:2;
            margin-left:@pic_margin;
        }
    }

    & when (@pic_position = right-left) {
        #__item:nth-child(2n-1) #__image {
            order:2;
            margin-left:@pic_margin;
        }
        #__item:nth-child(2n) #__image {
            margin-right:@pic_margin;
        }
    }
}