/*
name: Колонка
vars:
    background:
        type: css-background
        label: Фон
    padding:
        label: Внутренний отступ
        type: measures
        prop: padding
    align:
        type: css-align
    valign:
        type: livesearch
        label: По вертикали
        values:
            top: Сверху
            middle: По центру
            bottom: Снизу
    border:
        type: measures
        prop: borders
    shadow:
        type: css-shadow
    align_self:
        type: livesearch
        label: Позиция
        values: 
            stretch: Растянуть
            flex-start: Сверху
            center: По центру
            flex-end: Снизу
container:
    lightness: background
    align: align
*/
.col_style_default(
    @background:none;
    @padding:0em;
    @align: none;
    @valign: top;
    @border: none;
    @shadow: none;
    @align_self: stretch;
) {
    .background(@background);
    padding:@padding;
    .align-items(@align);
    
    align-self:@align_self;
    
    .box-shadow(@shadow);
    .border(@border);
    
    & when (@valign = top) {
        justify-content: flex-start;
    }
    & when (@valign = middle) {
        justify-content: center;
    }
    & when (@valign = bottom) {
        justify-content: flex-end;
    }
}