.slider_style_default {
    .slide {
        #__data {
            top:@layout_padding_vertical;
            left:@layout_padding_horizontal;
        }
        
        #__title, #__link a, #__description {
            color:@color_main_inverted;
        }
        #__title {
            font-size:33px;
            text-decoration: none;
        }
        #__description {
            font-size:24px;
        }
        #__link {
            font-size:19px;
            
        }
    }
    
    #__arrows {
        bottom:@layout_padding_vertical;
        left:@layout_padding_horizontal;
    }
}