/*
name: Default
vars:
    count_slides:
        label: Число слайдов
        type: number
        min: 1
        max: 5
        tip: Сколько слайдов показывать одновременно
    ratio:
        label: Пропорции
        type: ratio
        min: 1
    margin:
        label: Отступ
        type: number
        min: 0
        max: 4
        step: 0.25
export:
    image_ratio: 1 * @ratio / @count_slides
    cols: '@count_slides'
*/
.slider_style_default(
    @count_slides:1;
    @ratio:3;
    @margin:1rem;
) 
{
    position:relative;
    overflow:hidden;
    width:100%;
    .fx-block_parent-width_auto& {
        min-width:300px;
    }
    #__slides-wrapper {
        width:100%;
        max-height:100vh;
        position:relative;
        padding-bottom: 100% / @ratio;
    }
    #__slides {
        left:0;
        display:flex;
        position:absolute;
        top:0;
        height:100%;
        width:100%;
    }
    #__slide {
        @slide_width: ( 100% / @count_slides );
        
        & when (@count_slides = 1) {
            min-width:@slide_width;
        }
        
        & when (@count_slides > 1) {
            min-width: ~"calc( " @slide_width ~" - " @margin * (1 - 1/@count_slides) ~")";
        }
            
        margin-right: @margin;
        position: relative;
        display:flex;
        align-items:stretch;
        flex-direction:row-reverse;
    }
    #__arrows {
        position: absolute;
        z-index:2;
    }
    
    #__arrow {
        transition:opacity 0.2s ease;
        opacity:1;
        &_disabled {
            opacity:0.3 !important;
        }
    }
    
    #_is-sorted #__arrows {
        display:none;
    }
    
    #__points {
        position:absolute;
        width:100%;
        display:flex;
        justify-content:center;
        align-items:center;
        left:0;
        bottom:20px;
    }
    
    #__point {
        background:rgba(200, 200, 200, 0.4);
        width:13px;
        height:13px;
        margin:7px;
        border-radius:13px;
        cursor:pointer;
        transition:all 0.5s ease;
        #_active {
            width:17px;
            height:17px;
            background:rgba(200, 200, 200, 0.8);
        }
    }
}