.slider {
    .clearfix();
    overflow:hidden;
    position:relative;
    max-height:680px;
    &__slides {
        position: absolute;
        left:0;
    }
    &__slide {
        //width:100%;
        float:left;
        position: relative;
    }
    
        
    
    &__arrows {
        position: absolute;
        z-index:2;
    }
    
    &__arrow {
        &_back span:after {
            content:'\2190';
        }
        &_next span:after {
            content:'\2192';
        }
    }
}

