.slider_style_default {
    //@data_bg_color:lighten(fadeout(@color_alt, 10%), 5%);
    //@data_bg_color:lighten(@color_alt, 5%);
    @data_bg_color:@color_alt;
    .slide {
        #__data {
            width:40%;
            min-height:100%;
            background:@data_bg_color;
            padding:@layout_padding_vertical @layout_padding_horizontal;
            display:flex;
            flex-direction:column;
            align-items:flex-start;
        }
        
        #__image {
            opacity:1;
            width:60%;
        }
        
        #__title, #__description {
            .color(main 5);
        }
        #__title {
            display:block;
            font-size:30px;
            text-decoration: none;
            font-weight:bold;
            margin-bottom:@layout_padding_vertical;
        }
        #__description {
            min-height:0;
            overflow:hidden;
            font-size:21px;
            padding-bottom:@layout_padding_vertical/2;
            margin-bottom:@layout_padding_vertical/2;
            position:relative;
            &:after {
                content:'';
                width:100%;
                height:@layout_padding_vertical/2;
                position:absolute;
                bottom:0;
                left:0;
                background:linear-gradient(to bottom, transparent, @data_bg_color);
                display:block;
            }
            p:first-child {
                margin-top:0;
            }
            p:last-child {
                margin-bottom:0;
            }
        }
        #__link {
            flex-shrink:0;
            background:#FFF;
            color:@color_alt;
            font-size:19px;
            padding:6px 25px;
            display:inline-block;
            a {
                text-decoration:none;
            }
        }
    }
    
    #__arrows {
        bottom:0;
        left: 40%;
        margin-left:-114px;
        background:@color_alt;
        padding:10px;
    }
    
    #__arrow {
        width:30px;
        height:30px;
        background:url('arrows.png') no-repeat 0 3px;
        cursor:pointer;
        display:inline-block;
        #_next {
            background-position:-36px 3px;
            margin-left:30px;
        }
    }
}