.slide {
    &__data {
        position: absolute;
        z-index:2;
        a {
            display:inline-block;
        }
    }
    
    &__image {
        overflow:hidden;
        position: relative;
        &_darken {
            background:#000;
        }
    }
    
    &__image-img {
        width:100%;
        position: relative;
    }
    &__image_darken &__image-img {
        opacity:0.6;
    }
}