.slide {
    &__data {
        position: absolute;
        z-index:2;
        a {
            display:inline-block;
        }
    }
    
    &__image {
        overflow:hidden;
        position: relative;
        background:#000;
    }
    
    &__image-img {
        width:100%;
        position: relative;
        opacity:0.6;
    }
}