.@{namespace}tiles {
    display: flex;
    flex-wrap: wrap;
    min-width:100%;
    justify-content: flex-start;
}

.@{namespace}tile {
    flex-grow:1;
    &__image {
        line-height:0;
    }
    &__img { 
        width:100%;
        max-width:100%;
    }
    &__body {
        display:block;
    }
}