.header {
    font-size:23px;
    margin:0;
    margin-top:0.6em;
    margin-bottom:0.3em;
    #_size_auto {
        #_level_1 {
            font-size:40px;
        }
        #_level_2 {
            font-size:29px;
        }
    }
    #_size {
        &_1 {
            font-size:40px;
        }
        &_2 {
            font-size:35px;
        }
        &_3 {
            font-size:29px;
        }
        &_4 {
            font-size:24px;
        }
        &_5 {
            font-size:19px;
        }
    }
    
    width:100%;
    .text-align();
    a#__text {
        .tcolor(alt 2);
        text-decoration:none;
    }
    #__text {
        font-family:@font_headers;
    }
}