.header_style_overdash {
    @pad:15px;
    #__text {
        max-width:80%;
        position:relative;
        display:inline-block;
        .tcolor();
    }
    
    display:flex;
    flex-direction:row;
    align-items:center;
    
    &:before {
        .left({
            display:none;
        });
        margin-right:@pad;
    }
    &:after {
        margin-left:@pad;
        .right({
            display:none;
        });
    }
    
    &:after, &:before {
        content:'';
        flex-grow:1;
        border-top:3px solid;
        .color(alt, 2, border-top-color);
        .dark({
            .color(main, 5, border-top-color);
        });
        margin-top:3px;
    }
}