/*
name: По умолчанию
vars:
    font:
        type: css-font
        label: Шрифт
    color:
        type: palette
        transparent: true
    margin:
        type: measures
        prop: margin
        label: Отступ
*/
.header_style_default (
    @font: none;
    @color: main 0;
    @margin: 1rem 0;
) {
    margin:@margin;
    #__text {
        .font(@font);
        .tcolor(@color);
    }
}