.header_style_overdash {
    @pad:15px;
    #__text {
        max-width:80%;
        position:relative;
        display:inline-block;
        .color_transparent();
    }
    
    display:flex;
    flex-direction:row;
    align-items:center;
    
    &:before {
        .left({
            display:none;
        });
        margin-right:@pad;
    }
    &:after {
        margin-left:@pad;
        .right({
            display:none;
        });
    }
    
    &:after, &:before {
        content:'';
        flex-grow:1;
        border-top:3px solid @color_alt;
        .dark({
            border-color:@color_main_inverted;
        });
        margin-top:-1px;
    }
}