.header {
    font-size:23px;
    #_level_1 {
        font-size:40px;
    }
    #_level_2 {
        font-size:29px;
    }
    width:100%;
    .text-align();
    a#__text {
        .color_transparent('alt');
        text-decoration:none;
    }
}