/*
name: По умолчанию
vars:
    font:
        type: css-font
        label: Шрифт
    color:
        label: Цвет
        type: palette
        transparent: true
    background:
        label: Фон
        type: css-background
    inline:
        label: Инлайновый
        type: checkbox
    padding:
        type: measures
        prop: padding
        step: 0.05
    shadow:
        type: css-shadow
        shadowType: text
container:
    lightness: background
*/
.header_style_default (
    @font:text 20px bold;
    @color: main 0;
    @background: none;
    @inline: 0;
    @padding: 0rem;
    @shadow: none;
) {
    .text-align();
    #__text {
        .font(@font);
        .tcolor(@color);
        .background(@background);
        .text-shadow(@shadow);
        & when (@inline = 1) {
          display: inline;
          -webkit-box-decoration-break: clone;
        }
        padding: @padding;
    }
}